<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý Sinh viên</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Quản lý Sinh viên</h1>

    <form action="/add" method="post">
        <input type="text" name="name" placeholder="Tên sinh viên" required>
        <input type="text" name="IDS" placeholder="MSSV" required>
        <input type="number" name="age" placeholder="Tuổi" min= "0" required>
        <input type="text" name="major" placeholder="Ngành học" required>
        <button type="submit">Thêm Sinh viên</button>
    </form>

    <h2>Danh sách Sinh viên</h2>
    <table>
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>MSSV</th>
            <th>Tuổi</th>
            <th>Ngành học</th>
            <th>Hành động</th>
        </tr>
        {% for student in students %}
        <tr>
            <td>{{ student.id }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.IDS }}</td>
            <td>{{ student.age }}</td>
            <td>{{ student.major }}</td>
            <td><a href="{{ url_for('delete_student', student_id=student.id) }}">Xóa</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
